<section class="poster container-mini">
    <h1 class="hidden">hidden title</h1>
    <div class="poster__pagination">
        <div class="poster__pagination_number-block">
            <img class="poster__pagination_big-number" src="/static/images/big-number.png" alt="01">
        </div>
        <ul class="poster__pagination-list">
            <li><button class="poster__pagination-button poster__pagination-brown-button"></button></li>
            <li><button class="poster__pagination-button"></button></li>
            <li><button class="poster__pagination-button"></button></li>
            <li><button class="poster__pagination-button"></button></li>
        </ul>
    </div>            
    <div class="poster__block">
        <h2 class="poster__title">THE OOH NOO <br>COLLECTION</h2> 
        <p class="poster__text">Designed in Slovenia</p>
        @@include('./button/index.html', {
            "class": "poster__button button button-open_js",
            "type": "button",
            "link": "#",
            "text": "Explore Now"
        })               
    </div>   
    <img class="poster__picture" src="/static/images/THE-OOH-NOO- COLLECTION.png" alt="poster-picture">            
</section>
<section class="poster__bottom-block container-mini">
    <h3 class="hidden">shipping</h3>
    <p class="poster__bottom-block-text">Free (continental) USA shipping on all orders of $100 USD or more!</p>
</section>