<section class="poster container-mini">
    <h1 class="hidden">hidden title</h1>
    <div class="left-block">
        <div class="number-block">
            <img class="big-number" src="/static/images/big-number.png" alt="01">
        </div>
        <ul class="poster-pagination-list">
            <li><button class="poster-pagination-button brown"></button></li>
            <li><button class="poster-pagination-button"></button></li>
            <li><button class="poster-pagination-button"></button></li>
            <li><button class="poster-pagination-button"></button></li>
        </ul>
    </div>
    
    <div class="poster-block">
        <h2 class="poster-title">THE OOH NOO <br>COLLECTION</h2> 
        <p class="poster-text">Designed in Slovenia</p>
        <button class="poster-button button button-open_js">EXPLORE NOW</button>                
    </div>   
    <img class="poster-picture" src="/static/images/THE-OOH-NOO- COLLECTION.png" alt="poster-picture">            
</section>
<section class="poster-bottom container-mini">
    <h3 class="hidden">shipping</h3>
    <p class="poster-bottom-text">Free (continental) USA shipping on all orders of $100 USD or more!</p>
</section>