/* Catalog */

.Category-Product {

    &__list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 -10px;
        min-width: 375px;
    }

    &__cards {
        margin: 11px 10px;

        @include media_interval($media_mobile, $media_tablet) {
            margin: 10px 9.5px;
        }

        @include media_interval(0, $media_mobile) {
            width: 44%;
            margin: 9px 6px 8px 9px;
            max-width: 162px;
        }

        &:nth-child(6n - 2) {
            margin-left: 210px;

            @include media_interval($media_mobile, $media_tablet) {
                margin-left: 9px;
            }

            @include media_interval(0, $media_mobile) {
                margin-left: 8px;
            }
        }

    }

    &__block {
        position: relative;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 270px;
        box-sizing: border-box;

        @include media_interval($media_mobile, $media_tablet) {
            width: 202px;
            height: 196px;
            max-height: 100%;
            max-width: 100%;
        }

        @include media_interval(0, $media_mobile) {
            width: 160px;
            height: 154px;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &__img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include media_interval($media_mobile, $media_tablet) {
            width: 170px;
            height: 170px;
            max-height: 100%;
            max-width: 100%;
        }

        @include media_interval(0, $media_mobile) {
            width: 140px;
            height: 140px;
            max-height: 100%;
            max-width: 100%;
        }
    }
    
    &__foto-name{
        position: relative;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;    

        @include media_interval($media_mobile, $media_tablet) {
            font-size: 24px;
            line-height: 29px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 18px;
            line-height: 22px;
        }

        &:hover {
            text-decoration: underline;
        }
        
        &:active {
            text-decoration: underline;
        }

    }    

}

/*Colors*/

.navy-blue {
    background-color:#DBE4DB;;
}

.brown {
    background-color: rgba(186, 142, 107, 0.3);
}

.beige {
    background-color: #F8F2DA;
}

.grey {
    background-color: rgba(9, 3, 79, 0.17);
}

.pink {    
    background: rgba(207, 68, 111, 0.25);
}

.light-blue{
    background-color: rgba(125, 151, 218, 0.2);
}