@@include('heading-&-breadcrumbs/index.html', {
    "text": "Catalog",
    "title": "category products"
})
<section class="container">
    <ul class="Category-Product__list">        
        @@include('catalog/catalog-cards.html', {
            "src": "/static/images/APPAREL-KIDS.png",
            "alt": "APPAREL KIDS",
            "text": "APPAREL KIDS",
            "color": "blue"
        })
        @@include('catalog/catalog-cards.html', {
            "src": "/static/images/HOLIDAY-SHOP.png",
            "alt": "HOLIDAY SHOP",
            "text": "HOLIDAY <br> SHOP",
            "color": "brown"
        })
        @@include('catalog/catalog-cards.html', {
            "src": "/static/images/TOYS.png",
            "alt": "TOYS",
            "text": "TOYS",
            "color": "beige"
        })
        @@include('catalog/catalog-cards.html', {
            "src": "/static/images/ACCESSORIES.png",
            "alt": "ACCESSORIES",
            "text": "ACCESSORIES",
            "color": "grey"
        })
        @@include('catalog/catalog-cards.html', {
            "src": "/static/images/SALE.png",
            "alt": "SALE",
            "text": "SALE",
            "color": "pink"
        })
        @@include('catalog/catalog-cards.html', {
            "src": "/static/images/APPAREL-ADULTS.png",
            "alt": "APPAREL ADULTS",
            "text": "APPAREL ADULTS",
            "color": "light-blue"
        })
    </ul>
</section>