.mobile-menu__open .mobile-menu {
    left: 0;
}

.mobile-menu {    
    width: 100%;
    min-height: 381px;
    position: fixed;
    right: 0;
    left: -100;
    bottom: 0;
    top: 0;
    background-color: rgba(125, 151, 218, 0.8);
    
    &__open {
        left: 0;
    }

    &__header {
        min-width: 375px;
        height: 73px;
        background-color: #FFFFFF;

        &-list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 25px 30px;
        }
    }

    &__search-button {
        background-color: transparent;
        border: none;  
        display: block; 
        width: 13px;
        height: 13px;
        padding: 0;
    }

    &__close-button {
        background-color: transparent;
        border: none;  
        display: block; 
        width: 16px;
        height: 16px;
        padding: 0;
        margin-right: 28px;
        margin-top: 3px;
    }

    &__inner {        
        padding: 25px 120px;
        background-color: #FFFFFF;
    }

    &__nav {
        padding-left: 15px;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        margin-top: -9px;
    }

    &__item {
        padding: 10px 0;        
        text-align: center;

        &-lower {
            margin-top: 56px;
            font-weight: bold;
        }
    }

    &__link {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;        
        transition: color $tr_duration $tr_easing;
        color: #1E0606;

        &:active {
            opacity: .2;
        }

    }
}
