<div class="mobile-menu">
    <div class="mobile-menu__header">    
        <ul class="mobile-menu__header-list">        
            <li class="mobile-menu__header-item"> 
                <a class="header__link" href="/index.html">
                    <img class="header__link-image" src="/static/images/logo-dlk.svg" alt="logo">
                </a>
            </li>
            <li class="mobile-menu__header-item"> 
                <button class="mobile-menu__close-button js-button-close-menu"><img src="/static/images/close-button.svg"></button>
            </li>
            <li class="mobile-menu__header-item"> 
                <button class="mobile-menu__search-button"><img src="/static/images/search-button.jpg" alt="search-button"></button>
            </li>
        </ul>
    </div>
    <div class="mobile-menu__inner">
        <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Blog</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Catalog</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">About Us</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Animation</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">SVG</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__link">Grid</a>
                </li>
                <li class="mobile-menu__item mobile-menu__item-lower">
                    <a href="#" class="mobile-menu__link">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div> 
</div>