@import "../colors";
@import "../vars";
@import "../mixins";

/* Form-action */

.blue-field {    
    background-color: rgba($c_blue--dark, 0.2);
    height: 255px;
    margin-bottom: 46px;
    margin-top: 51px;

    @include media_interval($media_mobile, $media_tablet) {
        margin-top: 30px;
        height: 323px;
        padding-left: 50px;
        margin-bottom: 36px;
    }

    @include media_interval(0, $media_mobile) {
        margin-top: 19px;
        width: 100%;
        height: 439px;
        margin-bottom: 32px;
    }
}

.parameters {
    display: flex;
    padding-left: 12px;

    @include media_interval($media_mobile, $media_tablet) {
        flex-wrap: wrap;
    }

    @include media_interval(0, $media_mobile) {
        flex-wrap: wrap;
        padding-left: 20px;
    }

    &__toy-fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

    &__settings {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        color:$c_black;
        position: relative;

        @include media_interval(0, $media_mobile) {
            font-size: 14px;
            line-height: 19px;
        }
    }

    &__header {
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: $c_black;
        margin-top: 40px;
        margin-bottom: 14px;
        width: 100%;

        @include media_interval($media_mobile, $media_tablet) {
            margin-top: 30px;
        }

        @include media_interval(0, $media_mobile) {
            margin-top: 25px;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 12px;
        }
    } 
    
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin-top: 14px;

        @include media_interval(0, $media_mobile) {
            margin-top: 10px;
        }
    }

}

.cost {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    max-width: 200px;

    @include media_interval(0, $media_mobile) {
        margin-right: 500px;
    }

    &__range {
        height: 4px;
        -webkit-appearance: none;
        background-color: rgba($c_black--deep, 0.5);
        margin-left: 3px;
        margin-top: 10px;
        width: 100%;
    }
    
    &__range::-webkit-slider-runnable-track {
        height: 24px;
        -webkit-appearance: none;
    }
    
    &__range::-webkit-slider-thumb {
        width: 24px;
        -webkit-appearance: none;
        height: 24px;
        border-radius: 50%;
        border: 9px solid $c_beige--dark;
        background-color: $c_white;
    }
    
    &__range::-webkit-slider-thumb:hover {
        cursor: pointer;
    }

    &__begin {
        display: inline-flex;
        margin-top: 16px;

        @include media_interval(0, $media_mobile) {
            margin-top: 10px;
            font-size: 14px;
            line-height: 19px;
        }
    }
    
    &__end {
        display: inline-flex;
        margin-left: auto;
        margin-right: -11px;
        margin-top: 16px;

        @include media_interval(0, $media_mobile) {
            margin-top: -20px;
            font-size: 14px;
            line-height: 19px;
            margin-left: 180px;
        }
    }  
}

.color {
    margin-left: 108px;
    margin-top: 40px;

    @include media_interval($media_mobile, $media_tablet) {
        margin-left: 85px;
        margin-top: 30px;
    }

    @include media_interval(0, $media_mobile) {
        margin-left: 0;
        margin-top: 25px;
    }

    &__item {
        margin-top: 15px;

        @include media_interval(0, $media_mobile) {
            margin-top: 8px;
        }
    }

    &__input:focus ~ .color__checkbox {
        outline: auto;
    }
    
    input:checked ~ .color__checkbox::after{
        opacity: 1;
    }

    &__checkbox {
        padding-left: 30px;
        align-items: center;
        position: relative;
        height: 22px;
        display: block;

        @include media_interval(0, $media_mobile) {
            padding-left: 25px;
        }
    
        &::before{
            position: absolute;
            content: '';
            top: 1px;
            left: 0;
            width: 19px;
            height: 19px;
            border: 2px solid #C29974;
            box-sizing: border-box;
            border-radius: 3px;

            @include media_interval(0, $media_mobile) {
                width: 17px;
                height: 17px;
            }
        }
        
        &::after{
            position: absolute;
            content: '';
            top: 4px;
            left: 5px;
            width: 12px;
            height: 7px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-55deg);
            color: $c_beige--dark;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &:hover {
            text-decoration: underline;
        }
    
    }

}

.deliverys{
    margin-left: 124px; 
    margin-top: 40px;

    @include media_interval($media_mobile, $media_tablet) {
        margin-left: 92px; 
        margin-top: 30px;
        margin-right: 65px;
    }

    @include media_interval(0, $media_mobile) {
        margin-top: 25px;
        margin-left: 110px;
        margin-right: 25px;
    }


    &__item {
        margin-top: 10px;

        @include media_interval(0, $media_mobile) {
            margin-top: 12px;
        }
    }

    &__radio {
        padding-left: 30px;
        align-items: center;
        position: relative;
        height: 22px;
        display: block;

        @include media_interval(0, $media_mobile) {
            padding-left: 25px;
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &::before {
            position: absolute;
            content: '';
            top: 1px;
            left: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #C29974;
            box-sizing: border-box;
            border-radius: 50%;

            @include media_interval(0, $media_mobile) {
                width: 16px;
                height: 16px;
            }
        }
        
        &::after{
            position: absolute;
            content: '';
            top: 5px;
            left: 4px;
            border: 6px solid #C29974;
            box-sizing: border-box;
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.3s;
        }

    }

}

input:checked ~ .deliverys__radio::after{
    opacity: 1;
}

.deliverys__input:focus ~ .deliverys__radio{
    outline: auto;
}

.color__input:disabled ~ .color__checkbox,
.deliverys__input:disabled ~ .deliverys__radio {
    opacity: .5;
    text-decoration: none;
    cursor: default;
}

.amount {
    margin-left: 70px;
    margin-top: 40px;

    @include media_interval($media_mobile, $media_tablet) {
        margin-left: 0;
        margin-top: 5px;
    }

    @include media_interval(0, $media_mobile) {
        margin-left: 0;
        margin-top: 8px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding-left: 0;
        position: relative;
        margin: 15px 0;

        @include media_interval(0, $media_mobile) {
            margin: 12px 0;
        }
    }

    &__item {
        width: 80px;
        height: 35px;
        display: block;
        background-color: $c_white;
        display: block;

        @include media_interval(0, $media_mobile) {
            height: 29px;
        }
    }

    &__settings {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: $c_black;
        position: relative;
        width: 80px;
        height: 35px;
        display: block;
        position: relative;

        @include media_interval(0, $media_mobile) {
            height: 29px;            
        }

        &:hover {
            cursor: pointer;
            background-color: $c_pink--light;
            opacity: .5;
            transition:$tr_duration $tr_easing;
        }

    }

    &__radio {
        padding-left: 25px;
        align-items: center;
        position: relative;

        &::after{
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            width: 80px;
            height: 35px;
            background-color: $c_pink--light;
            box-sizing: border-box;
            border: 1px;
            opacity: 0;
            transition: opacity 0.3s;

            @include media_interval(0, $media_mobile) {
                height: 29px;
            }
        }

    } 
    
    &__digitals {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: $c_black;
        display: block;
        text-align: center;
        position: relative;
        align-items: center;
        bottom: 15px;

        @include media_interval(0, $media_mobile) {
            font-size: 14px;
            line-height: 19px;
            bottom: 17px;
        }
    } 
    
    &__input:focus ~ .amount__radio::after{
        outline: auto;
    }

}

input:checked ~ .amount__radio::after{
    opacity: 1;
}

.apply-button {
    width: 95px;
    height: 40px;
    margin-left: 60px;
    margin-top: 76px;

    @include media_interval($media_mobile, $media_tablet) {
        margin-left: 207px;
        margin-top: 36px;
    }

    @include media_interval(0, $media_mobile) {
        margin-left: 120px;
        margin-top: 12px;
        text-align: center;
    }
}




