<div class="blue-field">
    <form action="/" class="parameters container">
        <fieldset class="parameters__toy-fieldset">
            <label class="parameters__settings cost">
                <span class="parameters__header">Cost</span>
                <input class="cost__range" type="range" name="cost" min="0" max="500" step="10">
                <span class="cost__begin">0</span>
                <span class="cost__end">500</span>
            </label>  
        </fieldset>
        <fieldset class="parameters__toy-fieldset color">
            <span class="parameters__header">Color</span>               
            <ul class="parameters__list">
                <li class="color__item">
                    <label class="parameters__settings">
                        <input class="color__input hidden" name="color" type="checkbox" value="blue">
                        <span class="color__checkbox">Black</span>
                    </label>
                </li>
                <li class="color__item">
                    <label class="parameters__settings">
                        <input class="color__input hidden" name="color" type="checkbox" value="blue">
                        <span class="color__checkbox">Blue</span>
                    </label>
                </li>
                <li class="color__item">
                    <label class="parameters__settings">
                        <input class="color__input hidden" name="color" type="checkbox" value="green" disabled>
                        <span class="color__checkbox">Green</span>
                    </label>
                </li>
                <li class="color__item">
                    <label class="parameters__settings">
                        <input class="color__input hidden" name="color" type="checkbox" value="white">
                        <span class="color__checkbox">White</span>
                    </label>
                </li>
            </ul>
        </fieldset> 
        <fieldset class="parameters__toy-fieldset delivery">
            <span class="parameters__header">Delivery</span>
            <ul class="parameters__list">
                <li class="delivery__item">
                    <label class="parameters__settings">
                        <input class="delivery__input hidden" name="shipping" type="radio" value="free" disabled>
                        <span class="delivery__radio">Free shipping</span>
                    </label>
                </li>
                <li class="delivery__item">
                    <label class="parameters__settings">
                        <input class="delivery__input hidden" name="shipping" type="radio" value="fast">
                        <span class="delivery__radio">Fast shipping</span>
                    </label>
                </li>
            </ul>
        </fieldset>    
        <fieldset class="parameters__toy-fieldset amount">
            <span class="parameters__header">Amount</span>
            <ul class="amount__list">
                <li class="amount__item">
                    <label class="amount__settings">
                        <input class="amount__input hidden" name="amount-of-goods" type="radio" value="0-5" checked>
                        <span class="amount__radio"></span>                                  
                        <span class="amount__digitals">0-5</span>
                    </label>
                </li>
                <li class="amount__item">
                    <label class="amount__settings">
                        <input class="amount__input hidden" name="amount-of-goods" type="radio" value="10-20">
                        <span class="amount__radio"></span>    
                        <span class="amount__digitals">10-20</span>                            
                    </label>                            
                </li>
                <li class="amount__item">
                    <label class="amount__settings">
                        <input class="amount__input hidden" name="amount-of-goods" type="radio" value="20-50">
                        <span class="amount__radio"></span>                                
                        <span class="amount__digitals">20-50</span>
                    </label>
                </li>
                </ul>
        </fieldset>  
        @@include('./button/index.html', {
            "link": "#",
            "text": "Apply",
            "class": "apply-button"
        })
    </form>
</div>