@@include('heading-&-breadcrumbs/index.html', {
    "text": "Grid",
    "title": "Grid"
})
<div class="grid-page">
    <div class="grid">
        <div class="grid__powerful-phone">
                <div class="grid__powerful-phone-text">
                    <p class="grid__learn-text text-color__grey">IPHONE 6S</p>
                    <h2 class="grid__heading-text">3D Touch. 12MP photos. 4K video. One powerful phone</h2>
                    <p class="grid__little-text text-color__grey">Learn more or visit an Apple Store today</p>
                </div>
            <picture>
                <source srcset="/static/images/phone.png, /static/images/phone-2.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/phone-tablet.png, /static/images/phone-2.png 2x" media="(min-width: 768px) and (max-width 1023px)">
                <source srcset="/static/images/phone-mobile.png" media="(max-width: 767px)">
                <img class="grid__powerful-phone-img" src="/static/images/phone.png" alt="phone picture">
            </picture>
        </div>        
        <div class="grid__rotary-evaporator">
            <p class="grid__learn-text text-color__grey">LEARN MORE</p>
            <h2 class="grid__big-text">How to Use Rotary Evaporator in Chemical Labs</h2>
            <a class="grid__little-text text-color__blue-line" href="#">Download now</a>
        </div>
        <div class="grid__new-keyboard">
            <picture>
                <source srcset="/static/images/keyboard.png, /static/images/phone-2.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/keyboard-tablet.png, /static/images/phone-2.png 2x" media="(min-width: 768px) and (max-width 1023px)">
                <source srcset="/static/images/keyboard-mobile.png" media="(max-width: 767px)">
                <img class="grid__new-keyboard-img" src="/static/images/keyboard.png" alt="keyboard picture">
            </picture>
            <h2 class="grid__heading-text text-color__white">Our Brand New<br>Keyboard</h2>
            <a class="grid__little-text text-color__yellow" href="#">LEARN ›</a>
        </div>
        <div class="grid__month-passes">
            <div class="grid__month-passes-block">
                <div class="grid__left-block">                
                    <p class="grid__learn-text text-color__grey">IMAC.RETINA</p>
                    <h2 class="grid__heading-text">Hardly a month passes these days where</h2>                
                </div>
                <div class="grid__right-block">
                    <p class="grid__little-text text-color__grey">Apple may be experimenting in the virtual reality space. The company has been granted a patent for a head-mounted virtual reality device that would use the iPhone screen as the display.</p>
                    <a class="grid__learn-text text-color__blue" href="#">DOWNLOAD NOW ›</a>
                </div>
            </div>
            <picture>
                <source srcset="/static/images/mac.png, /static/images/mac-2.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/mac-tablet.png, /static/images/phone-2.png 2x" media="(min-width: 768px) and (max-width 1023px)">
                <source srcset="/static/images/mac-mobile.png" media="(max-width: 767px)">
                <img class="grid__month-passes-img" src="/static/images/mac.png" alt="macintosh picture">
            </picture>
        </div>
        <div class="grid__icloud">
            <div class="grid__icloud-disc">
                <span class="grid__learn-text disc-popular">POPULAR</span>
                <picture>
                    <source srcset="/static/images/disc.png, /static/images/disc-2.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/disc-tablet.png, /static/images/phone-2.png 2x" media="(min-width: 768px) and (max-width 1023px)">
                    <source srcset="/static/images/disc-mobile.png" media="(max-width: 767px)">
                    <img class="grid__icloud-disc-img" src="/static/images/disc.png" alt="diskette picture">
                </picture>
                <span class="grid__learn-text  disc-meet">MEET</span>
            </div>
            <div class="grid__icloud-text">
                <h2 class="grid__icloud-heading">iCloud</h2>
                <p class="grid__little-text grid__icloud-text">With iCloud, you always have the latest versions of your most important things — like documents, apps, notes, and contacts — on whatever device you’re using.</p>
                <a href="#" class="grid__learn-text grid__icloud-button">LEARN MORE</a>
            </div>
        </div>
        <div class="grid__much-better">
            <div class="grid__much-better-choise">
                <p class="grid__much-better-text">BEST CHOISE</p>
            </div>
            <h2 class="grid__heading-text  grid__much-better-heading">Much MuchBetter<br>Experience</h2>
            <picture>
                <source srcset="/static/images/laptop.png, /static/images/laptop-2.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/laptop-tablet.png, /static/images/phone-2.png 2x" media="(min-width: 768px) and (max-width 1023px)">
                <source srcset="/static/images/laptop-mobile.png" media="(max-width: 767px)">
                <img class="grid__much-better-img" src="/static/images/laptop.png" alt="laptop picture">
            </picture>
        </div>
        <div class="grid__games-ourpassion">
            <picture>
                <source srcset="/static/images/pad.png, /static/images/pad-2.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/pad-tablet.png, /static/images/phone-2.png 2x" media="(min-width: 768px) and (max-width 1023px)">
                <source srcset="/static/images/pad-mobile.png" media="(max-width: 767px)">
                <img class="grid__games-ourpassion-img" src="/static/images/pad.png" alt="gamepad picture">
            </picture>
            <h2 class="grid__heading-text">Games ourpasion</h2>
            <a class="grid__learn-text text-color__blue" href="#">LEARN ›</a>
        </div>
        <div class="grid__follow-me">
            <picture>
                <source srcset="/static/images/instagram.png, /static/images/instagram-2.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/instagram-tablet.png, /static/images/phone-2.png 2x" media="(min-width: 768px) and (max-width 1023px)">
                <source srcset="/static/images/instagram-mobile.png" media="(max-width: 767px)">
                <img class="grid__follow-me-img" src="/static/images/instagram.png" alt="instagram picture">
            </picture>
            <a href="#" class="grid__heading-text text-color__black">Follow me ›</a>
        </div>
        <div class="grid__vision">
            <picture>
                <source srcset="/static/images/tv.png, /static/images/tv-2.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/tv-tablet.png, /static/images/phone-2.png 2x" media="(min-width: 768px) and (max-width 1023px)">
                <source srcset="/static/images/tv-mobile.png" media="(max-width: 767px)">
                <img class="grid__vision-img" src="/static/images/tv.png" alt="tv picture">
            </picture>
            <h2 class="grid__heading-text  text-color__white">More than just a<br>display,  it’s a vision</h2>
        </div>
    </div>
</div>