@import "../colors";
@import "../vars";
@import "../mixins";

.cards {

    &__list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 48px;
        margin-bottom: 20px;

        @include media_interval($media_mobile, $media_tablet) {
            margin-top: 30px;
            margin-bottom: 15px;
        }

        @include media_interval(0, $media_mobile) {
            margin-top: 20px;
            margin-bottom: 12px;
        }
    }

    &__blog {
        width: 380px;

        @include media_interval($media_mobile, $media_tablet) {
            width: 314px;
            margin-right: -2px;
        }

        @include media_interval(0, $media_mobile) {
            width: 335px;
        }

        &-desription-text {    
            font-family: "Open Sans", Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: $c_black;
            margin: 15px 0 34px;

            @include media_interval($media_mobile, $media_tablet) {
                margin: 10px 0 30px;
            }

            @include media_interval(0, $media_mobile) {
                font-size: 16px;
                line-height: 22px;
                margin-top: 6px;
                margin-bottom: 26px;
            }
        }

        &-date-text {
            font-family: "Roboto", Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $c_grey--text;
            margin: 17px 0 10px;

            @include media_interval($media_mobile, $media_tablet) {
                margin: 10px 0 5px;
            }

            @include media_interval(0, $media_mobile) {
                font-size: 14px;
                line-height: 16px;
                margin-top: 7px;
                margin-bottom: 4px;
            }
        }
        
        &-desription-heading {
            font-family: "Montserrat", Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            color: $c_black;
            margin: 10px 0 15px;

            @include media_interval($media_mobile, $media_tablet) {
                margin: 5px 0 10px;
            }

            @include media_interval(0, $media_mobile) {
                font-size: 18px;
                line-height: 22px;
                margin-top: 4px;
                margin-bottom: 5px;
            }

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            
            &:active {
                text-decoration: underline;
                cursor: pointer;
            }

        }                  

    }

}










