<li class="cards__item">
    <a href="#" class="cards__link">
        <div class="cards__blog">
            <picture>
                <source srcset="/static/images/@@src.jpg, /static/images/@@src-2.jpg 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/@@src-tablet.jpg" media="(min-width: 768px) and (max-width: 1023px)">
                <source srcset="/static/images/@@src-mobile.jpg" media="(max-width: 767px)">
                <img class="cards__blog-image" srcset="/static/images/@@src.jpg" alt="@@alt">
            </picture>    
            <p class="cards__blog-date-text">@@date</p>
            <h2 class="cards__blog-desription-heading">@@heading</h2>
            <p class="cards__blog-desription-text">@@text</p>
        </div>                        
    </a>
</li>