<section class="toy container">
    <h1 class="toy-heading">Toy for kids</h1>
    <ul class="toy-navigation">
        <li>
            <ul class="breadcrumbs-navigation">
                <li><a class="breadcrumbs" href="/index.html">Home</a></li>
                <li><span class="breadcrumbs category-next" ><img src="/static/images/breadcrumb-vector.png" alt="breadcrumb vector"></span>
                <li><a class="breadcrumbs" href="/pages/catalog/">Catalog</a></li>
                <li><span class="breadcrumbs category-next" ><img src="/static/images/breadcrumb-vector.png" alt="breadcrumb vector"></span>
                <li><span class="breadcrumbs last-crumb">Toys</span></li>
            </ul>
        </li>
    </ul>
</section>