<section class="toy container">
    <h1 class="toy__heading">Toy for kids</h1>
            <ul class="breadcrumbs">
                <li><a class="breadcrumbs__nav" href="/index.html">Home</a></li>
                <li><span class="breadcrumbs__nav category__next" ><img src="/static/images/breadcrumb-vector.png" alt="breadcrumb vector"></span>
                <li><a class="breadcrumbs__nav" href="/pages/catalog/">Catalog</a></li>
                <li><span class="breadcrumbs__nav category__next"><img src="/static/images/breadcrumb-vector.png" alt="breadcrumb vector"></span>
                <li><span class="breadcrumbs__nav breadcrumbs__last">Toys</span></li>
            </ul>
</section>