/* Modal window */

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(125, 151, 218, 0.8);
    display: none;

    &_open {
        display: flex;
    }

}

.main-page {
    position: relative;
    margin: auto;
}

.exit-button {
    position: absolute;
    right: -21px;
    top: -2px;
    border: none;
    background: none;
    outline: none;    
    transition:$tr_duration $tr_easing;

    @include media_interval(0, $media_mobile) {
        right: 2px;
        top: -28px;
    }

    &::before {
        content: "";
        position: absolute;
        height: 18px;
        width: 2px;
        background: #FFFFFF;
        transform: rotate(45deg);
    }
    
    &::after {
        content: "";
        position: absolute;
        height: 18px;
        width: 2px;
        background: #FFFFFF;
        transform: rotate(-45deg);
    }
    
    &:hover {
        opacity: .5;
        cursor: pointer;
    }
    
    &:active {
        opacity: .3;
    }
}


