<div class="modal-background modal_js">
    <form action="/" class="modal-window main-page">
        <div class="form-cell-600">
            <label class="form-lable">
                <span class="input-label-text">Name</span>
                <input class="input-text input-text_js" type="text" name="name">                    
            </label>
        </div>                
        <div class="form-row">
            <div class="form-cell-50">
                <label class="form-lable">
                    <span class="input-label-text">Phone</span>
                    <input class="input-text" type="tel" name="phone">
                </label>
            </div>
            <div class="form-cell-50">
                <label class="form-lable">
                    <span class="input-label-text">Email</span>
                    <input class="input-text" type="email" name="email">
                </label> 
            </div>
        </div>            
        <label class="form-label">    
            <span class="input-label-text">Message</span>
            <textarea class="form-textarea" name="message" cols="30" rows="10"></textarea>
        </label>
        <label class="consent">
            <input class="hidden input-consent" name="consent" type="checkbox" value="consent">
            <span class="checkbox-square"></span>
            <span class="clicking-button">By clicking on the button, you consent to the processing of your personal data</span>
        </label>
        <button class="submit-button button" type="submit">Submit</button>
        <button class="exit-button exit-button_js" type="button" aria-label="exit"></button>
    </form>
</div>    