@import "../colors";
@import "../vars";
@import "../mixins";

/* About Us */

.bottom-blocks {
    display: flex;
    margin-bottom: 147px;

    @include media_interval($media_mobile, $media_tablet) {
        margin-bottom: 126px;
    }

    @include media_interval(0, $media_mobile) {
        display: block;
        padding: 0;
        margin-bottom: 152px;
    }
}

.about-us {
    margin-right: 57px;
    margin-top: 5px;
    background-color: $c_blue--light;
    padding: 31px;
    min-height: 236px;
    max-width: 543px;
    width: 100%;

    @include media_interval($media_mobile, $media_tablet) {
        padding: 15px;
        min-height: 302px;
        margin-right: 20px;
    }

    @include media_interval(0, $media_mobile) {
        width: 100%;
        padding: 20px;
        min-height: 218px;
        max-width: none;
    }

    &__heading {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: $c_black;
        margin-top: -55px;
        margin-bottom: 11px;

        @include media_interval($media_mobile, $media_tablet) {
            font-size: 30px;
            line-height: 37px;
            width: 282px;
            margin-top: -32px;
            margin-bottom: 15px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 24px;
            line-height: 29px;     
            margin-top: -35px;
        }
    }

    &__subheading {
        font-family: "Crimson Text", Arial, sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        color: $c_black;
        margin: 10px 0;

        @include media_interval(0, $media_mobile) {
            font-size: 24px;
            line-height: 30px;
            margin-top: 12px;
        }
    }

    &__text {
        font-family: "Open Sans", Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $c_black;
        margin: 10px 0 29px;

        @include media_interval(0, $media_mobile) {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 25px;
            min-width: 335px;
        }
    }
}

/* Contacts */

.contacts {
    padding: 30px;
    background: $c_blue--light;
    height: 209px;
    max-width: 543px;
    width: 100%;    
    margin-top: 5px;

    @include media_interval($media_mobile, $media_tablet) {
        padding: 17px;
        height: 272px;
    }

    @include media_interval(0, $media_mobile) {
        margin-top: 52px;
        padding: 20px;
        width: 100%;
        max-width: none;
    }

    &__heading {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: $c_black;
        margin-top: -55px;
        margin-bottom: 20px;

        @include media_interval($media_mobile, $media_tablet) {
            font-size: 30px;
            line-height: 37px;
            width: 282px;
            margin-top: -35px;
            margin-bottom: 24px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 24px;
            line-height: 29px;     
            margin-top: -35px;
            margin-bottom: 5px;
        }
    }
    
    &__text {
        font-family: "Open Sans", Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $c_black;
        margin: 20px 0 20px;

        @include media_interval(0, $media_mobile) {
            font-size: 14px;
            line-height: 19px;
            margin-top: 10px;
            min-width: 335px;
        }
    }
}    

.map__google {
    max-width: 483px;
    width: 100%;
    max-height: 196px;
    height: 100%;
    margin-bottom: -120px;

    @include media_interval($media_mobile, $media_tablet) {
        max-width: 415px;
        width: 100%;
    }

    @include media_interval(0, $media_mobile) {
        min-width: 335px;
        min-height: 196px;
    }
}
