/* About Us */

.bottom-blocks {
    display: flex;
    margin-bottom: 147px;
}

.about-us {
    margin-right: 57px;
    margin-top: 5px;
    background: #E1F0F7;
    padding: 31px;
    min-height: 236px;
    max-width: 543px;
    width: 100%;

    &__heading {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: #1E0606;
        margin-top: -55px;
        margin-bottom: 11px;
    }

    &__subheading {
        font-family: "Crimson Text", Arial, sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        color: #1E0606;
        margin: 10px 0;
    }

    &__text {
        font-family: "Open Sans", Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606;
        margin: 10px 0 29px;
    }
}

/* Contacts */

.contacts {
    padding: 30px;
    background: #E1F0F7;
    height: 209px;
    max-width: 543px;
    width: 100%;    
    margin-top: 5px;

    &__heading {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: #1E0606;
        margin-top: -55px;
        margin-bottom: 20px;
    }
    
    &__text {
        font-family: "Open Sans", Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606;
        margin: 20px 0 20px;
    }
}

.map {
    margin-bottom: -120px;
}