<div class="bottom-blocks container">
    <section class="about-us">
        <h2 class="about-us__heading">Design Life Kids</h2>
        <h3 class="about-us__subheading">About Us</h3>
        <p class="about-us__text">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
        @@include('./button/index.html', {
            "link": "#",
            "text": "buy now"
        })
    </section>
    <section class="contacts">
        <h2 class="contacts__heading">Contacts</h2>
        <p class="contacts__text">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
        <div class="map">
            <iframe class="map__google" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1576.807671193288!2d-122.41938590167436!3d37.77561663677072!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809ee990875d%3A0x8b10c9b8e5255419!2z0JrQvtC90YHQtdGA0LLQsNGC0L7RgNC40Y8g0KHQsNC9LdCk0YDQsNC90YbQuNGB0LrQvg!5e0!3m2!1sru!2sru!4v1599417904843!5m2!1sru!2sru" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>
</div>  