/* Toy cards */

.toys-card{

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        padding-left: 0;
        margin-bottom: 45px;

        @include media_interval($media_mobile, $media_tablet) {
            margin-right: -15px;
            margin-bottom: 52px;
        }

        @include media_interval(0, $media_mobile) {
            margin-bottom: 17px;
        }
    }
    
    &__item {
        width: 380px;
        min-height: 497px;
        margin: 10px 10px 10px;

        @include media_interval($media_mobile, $media_tablet) {
            width: 203px;
            min-height: 288px;
            margin: 10px 10px 1px;
        }

        @include media_interval(0, $media_mobile) {
            width: 40%;
            max-width: 161px;
            min-height: 247px;
            margin: 10px 10px 1px;
        }


        &:hover .image-block__learn-more {
            display: block;    
            opacity: 0.9;
        }
        
        &:active .image-block__learn-more {
            display: block;    
            opacity: 0.67;
            
        }
    }   
}

.image-block {
    width: 380px;
    height: 497px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media_interval($media_mobile, $media_tablet) {
        width: 203px;
        height: 288px;
    }

    @include media_interval(0, $media_mobile) {
        width: 160px;
        height: 247px;
    }

    &__learn-more {
        position: absolute;
        width: 207px;
        height: 207px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E5EAF8;
        opacity: 0;
        margin-top: -60px;
        transition:$tr_duration $tr_easing;

        @include media_interval(0, $media_mobile) {
            width: 160px;
            height: 160px;
            text-align: center;
        }

        &-text {
            font-family: "Montserrat", Arial, sans-serif;
            font-weight: bold;
            font-size: 26px;
            line-height: 29px;    
            text-transform: uppercase;
            color: #1E0606;
            text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

    }

}

.descriptions {
    height: 112px;

    @include media_interval($media_mobile, $media_tablet) {
        height: 77px;
    }

    @include media_interval(0, $media_mobile) {
        height: 80px;
    }

    &__toy {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #1E0606;
        margin-bottom: 0;
        margin-top: 31px;

        @include media_interval($media_mobile, $media_tablet) {
            font-size: 12px;
            line-height: 16px;
            margin-top: 22px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 12px;
            line-height: 16px;
            margin-top: 10px;
        }
    }
    
    &__price {
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #1E0606;
        margin-bottom: 0;

        @include media_interval($media_mobile, $media_tablet){
            font-size: 14px;
            line-height: 19px;
            margin-top: 5px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 12px;
            line-height: 16px;
            margin-top: 5px;
        }
    }
}

