<section class="toys-cards container">
    <h2 class="hidden">toys-cards</h2>
    <ul class="toys-card__list">
        @@include('toys-card/toys-card-pattern.html', {
            "src": "SHARKY-BEAN-BAG-CHAIR-COVER",
            "alt": "SHARKY BEAN BAG CHAIR COVER",
            "description": "SHARKY BEAN BAG CHAIR COVER",
            "price": "$60.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "BRASS-DECO-FRAMES",
            "alt": "BRASS DECO FRAMES",
            "description": "BRASS DECO FRAMES",
            "price": "$66.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "CIBO-FULL-APRON",
            "alt": "CIBO FULL APRON",
            "description": "CIBO FULL APRON",
            "price": "$60.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "GATCHA-GATCHA-GUMBALL-MACHINE",
            "alt": "GATCHA GATCHA GUMBALL MACHINE",
            "description": "GATCHA GATCHA GUMBALL MACHINE",
            "price": "$56.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "CHRISTMAS-ADVENT-SCENTED-CANDLE",
            "alt": "CHRISTMAS ADVENT SCENTED CANDLE",
            "description": "CHRISTMAS ADVENT SCENTED CANDLE",
            "price": "$29.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "TANGLE-SPINNING-TEA-LIGHT",
            "alt": "TANGLE SPINNING TEA LIGHT",
            "description": "TANGLE SPINNING TEA LIGHT",
            "price": "$56.00 USD"
        })
    </ul>
</section>