<section class="toys-cards container">
    <h2 class="hidden">toys-cards</h2>
    <ul class="toys-card__list">
        @@include('toys-card/toys-card-pattern.html', {
            "src": "/static/images/SHARKY-BEAN-BAG-CHAIR-COVER.jpg",
            "alt": "SHARKY BEAN BAG CHAIR COVER",
            "description": "SHARKY BEAN BAG CHAIR COVER",
            "price": "$60.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "/static/images/BRASS-DECO-FRAMES.jpg",
            "alt": "BRASS DECO FRAMES",
            "description": "BRASS DECO FRAMES",
            "price": "$66.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "/static/images/CIBO-FULL-APRON.jpg",
            "alt": "CIBO FULL APRON",
            "description": "CIBO FULL APRON",
            "price": "$60.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "/static/images/GATCHA-GATCHA-GUMBALL-MACHINE.jpg",
            "alt": "GATCHA GATCHA GUMBALL MACHINE",
            "description": "GATCHA GATCHA GUMBALL MACHINE",
            "price": "$56.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "/static/images/CHRISTMAS-ADVENT-SCENTED-CANDLE.jpg",
            "alt": "CHRISTMAS ADVENT SCENTED CANDLE",
            "description": "CHRISTMAS ADVENT SCENTED CANDLE",
            "price": "$29.00 USD"
        })
        @@include('toys-card/toys-card-pattern.html', {
            "src": "/static/images/TANGLE-SPINNING-TEA-LIGHT.jpg",
            "alt": "TANGLE SPINNING TEA LIGHT",
            "description": "TANGLE SPINNING TEA LIGHT",
            "price": "$56.00 USD"
        })
    </ul>
</section>