/* Category Products */

.category-products {

/*Product cards*/

    &__title {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: #1E0606;
        margin-top: 92px;
        margin-bottom: 20px;

        @include media_interval($media_mobile, $media_tablet) {
            font-size: 36px;
            margin-top: 60px;
            margin-bottom: 12px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 24px;
            line-height: 29px;
            margin-top: 80px;
            margin-bottom: 12px;
        }
    }

    &__list {
        list-style-type: none; 
        padding-left: 0;
        display: flex;    
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 4px;

        @include media_interval($media_mobile, $media_tablet) {
            flex-wrap: nowrap;
            margin-top: 10px;
            margin-bottom: 3px;
        }

        @include media_interval(0, $media_mobile) {
            margin-top: 12px;
            flex-wrap: nowrap;
        }
    }
    
    &__card {
        padding: 10px 0;

        @include media_interval($media_mobile, $media_tablet) {
            margin: 0 20px;
            margin-left: 0;
        }

        @include media_interval(0, $media_mobile) {
            margin: 0 16px;
            margin-left: 0;
        }
    }

    &__block {
        position: relative;
        display: flex;
        padding: 20px 50px;    
        box-sizing: border-box;
        width: 280px;
        height: 270px;      
        justify-content: center;
        align-items: center;

        @include media_interval($media_mobile, $media_tablet) {
            width: 259px;
            height: 249px;
        }

        @include media_interval(0, $media_mobile) {
            width: 247px;
            height: 238px;
        }

        &:hover {
            cursor: pointer;
        }
    }
    
    &__img {    
        position: absolute;

        @include media_interval($media_mobile, $media_tablet) {
            width: 170px;
            height: 170px;
            max-height: 100%;
            max-width: 100%;
        }

        @include media_interval(0, $media_mobile) {
            width: 170px;
            height: 170px;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &__foto-name {
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;  
        position: relative;

        &:hover {     
            text-decoration: underline;
        }

        &:active {
            text-decoration: underline;
        }
    }

/*Bottom text*/
    
    &__vector-text {
        display: flex;
        align-items: center;
        margin-bottom: 73px;

        @include media_interval($media_mobile, $media_tablet) {
            margin-bottom: 46px;
            margin-top: -2px;
        }

        @include media_interval(0, $media_mobile) {
            margin-bottom: 50px;
        }
    }

    &__vector {
        border: none;  
        background: rgba(112, 187, 220, 0.2);
        width: 37px;
        height: 37px;
        margin-right: 6px;

        @include media_interval(0, $media_mobile) {
            width: 34px;
            height: 33px;
            margin-bottom: auto;
            margin-top: 10px;
        }
    }
    
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606;    
        margin-left: 15px;
        margin-top: 20px;
        width: 580px;

        @include media_interval($media_mobile, $media_tablet) {
            font-size: 14px;
            line-height: 19px;
            margin-top: 16px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 14px;
            line-height: 19px;
            min-width: 250px;
            margin-top: 5px;
            margin-left: 11px;
            margin-bottom: 30px;
            letter-spacing: -0.2px;
        }
    }
}

/*Colors*/

.blue {
    background-color:#DBE4DB;;
}

.pink {
    background-color: rgba(186, 142, 107, 0.3);
}

.beige {
    background-color: #F8F2DA;
}

.grey {
    background-color: rgba(9, 3, 79, 0.17);
}

