<li class="category-products__card">
    <a class="category-products__link" href="#">
        <div class="category-products__block @@color">
            <picture>
                <source srcset="/static/images/@@src.png, /static/images/@@src-2.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/@@src-tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                <source srcset="/static/images/@@src-mobile.png" media="(max-width: 767px)">
                <img class="category-products__img" srcset="/static/images/@@src.png" alt="@@alt">
            </picture>  
            <p class="category-products__foto-name">@@text</p>
        </div>
    </a>
</li>