/* Header */

.header {
  display: flex;
  align-items: center;
  margin-top: 55px; 
  margin-bottom: 57px;
  flex-wrap: wrap;

  &__link:hover {
    opacity: .5;
  }

  &__link:active {
    opacity: .2;
  }

  /*Navigation*/

  &__navigation-list {
    display: flex;      
    list-style-type: none;
    padding: 0;
    margin-left: 60px;
  }

  &__navigation-link {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;    
    margin-right: 20px;
    text-transform: uppercase; 

    &:hover {
      opacity: .5;
    }

    &:active {
      opacity: .2;
    }    
  }

  /*Right corner*/

  &__nav-right-corner {
    margin-left: auto;
    display: flex;  
    list-style-type: none;
  }

  &__nav-contact-button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
    display: block;
    min-width: 93px;
    text-align: center;
    padding: 4px 1px;
    margin-left: 15px;

    &:hover { 
      opacity: .5;
    }

    &:active {
      opacity: .2;
    }
  }

  &__nav-search-button {
    background: none;
    border: none;  
    display: block; 
    min-width: 17px;
    min-height: 17px;

    &:hover {
      opacity: .5;
    }

    &:active {
      opacity: .2;
    }
  }
}