<header class="header container">
    <div class="header-margin">
        <a href="/index.html">
            <img class="header-link" src="/static/images/logo-dlk.svg" alt="logo">
        </a>
        <nav class="header-navigation">
            <ul class="header-list">
                <li><a class="header-navigation-link" href="/pages/blog/">Blog</a></li>
                <li><a class="header-navigation-link" href="/pages/catalog/">Catalog</a></li>
                <li><a class="header-navigation-link" href="#">About Us</a></li>
            </ul>
        </nav>
        <ul class="header-right-corner">
            <li><button class="header-search-button"><img src="/static/images/search-button.jpg" alt="search-button"></button></li>
            <li><a class="header-contact-button" href="/pages/contact-us/">Contact Us</a></li>
        </ul>
    </div>
</header>
