<header class="header container">
        <a class="header__link" href="/index.html">
            <img class="header__link" src="/static/images/logo-dlk.svg" alt="logo">
        </a>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__nav-item"><a class="header__navigation-link" href="/pages/blog/">Blog</a></li>
                <li class="header__nav-item"><a class="header__navigation-link" href="/pages/catalog/">Catalog</a></li>
                <li class="header__nav-item"><a class="header__navigation-link" href="#">About Us</a></li>                
                <li class="header__nav-item"><a class="header__navigation-link" href="/pages/animation">Animation</a></li>
                <li class="header__nav-item"><a class="header__navigation-link" href="/pages/svg">SVG</a></li>
            </ul>
        </nav>
        <ul class="header__nav-right-corner">
            <li><button class="header__nav-search-button"><img src="/static/images/search-button.jpg" alt="search-button"></button></li>
            <li><a class="header__nav-contact-button" href="/pages/contact-us/">Contact Us</a></li>
        </ul>
</header>
