body { 
    font-family: "Open Sans", Arial, sans-serif;
  }
  
  a { 
    text-decoration: none; 
  }
  
  html { 
    box-sizing: border-box; 
  }
  
  *, 
  *::before, 
  *::after { 
    box-sizing: inherit; 
  }
  
  img { 
    max-width: 100%; 
  }
  
  .container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  /* Main */
  
  .hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    will-change: 1px !important;
    overflow: hidden;
  }
  
  h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 15px;
  }
  
  .button {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: none;
    padding: 9px 24px;

    &:focus {
      outline-color: #C29974;
      outline-style: solid;
      outline-width: 2px;
    }
    
    &:hover {
      background-color: #C29974;
      cursor: pointer;
    }
    
    &:active {
      background-color: #C29974;
      opacity: .5;
    }
    
    &:disabled {
      background-color: #C1C1C1;
      color: #E1E1E1;
    }

  } 
  
  .breadcrumbs{
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin: 15px 20px 38px 0;

    &__nav {    
      color: #1E0606;
      margin-right: 20px;
    }
    
    &__last {
      opacity: .5;
    }

  }
  
  