// Подключение компонентов

@import "main";
@import "./header/header";
@import "./poster/poster";
@import "./category-products/category-products";
@import "./delivery-section/delivery-section";
@import "./partners/partners";
@import "./bottom-blocks/bottom-blocks";
@import "./catalog/catalog";
@import "./description/description";
@import "./toy-breadcrumbs/toy-breadcrumbs";
@import "./toy-fieldset/toy-fieldset";
@import "./toys-card/toys-card";
@import "./blog-cards/blog-cards";
@import "./page-navigation/page-navigation";
@import "./modal-window/modal-window";
@import "./form-block/form-block";
@import "./footer/footer";
@import "./animation-screen/animation-screen";
@import "./svg-animation/svg-animation";

/* Modal window */

.modal-window {
  width: 680px;
  height: 542px;
  background: #E5EAF8;
  padding: 42px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__label {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1E0606;
  display: flex;
  flex-direction: column;

  &-text {
    margin-bottom: 7px;
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
  }

  &-input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 21px;  
    padding: 14px 20px;
    background: #FFFFFF;       
    border: 1px solid rgba(0, 0, 0, 0.2); 
    box-sizing: border-box;
    margin-bottom: 20px;
    transition:$tr_duration $tr_easing;
  
    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3); 
    }

    &:active {
      border: 1px solid rgba(0, 0, 0, 0.2); 
    }

    &::-webkit-input-placeholder {
      color: #1E0606;
    } 
  
  }  

  &-textarea {
    width: 600px;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 14px 20px;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    transition:$tr_duration $tr_easing;
  
    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3); 
    }

    &:active {
      border: 1px solid rgba(0, 0, 0, 0.2); 
    }
    
  }

}

.form {

  &__row {
    display: flex;
    justify-content: space-between;
    width: 600px;
  }
  
  &__cell-600 {
    width: 600px;
  }
  
  &__cell-50 {
    width: 290px;
  }

}

.consent {
  margin: 20px 0 21px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1E0606; 
  align-items: center;

  &__input:focus ~ .clicking-button {
    outline: auto;
  }
  
}

input:checked ~ .clicking-button::after{
  opacity: 1;
}

.clicking-button {
  padding-left: 33px;
  display: flex;
  align-items: center;
  position: relative;
  height: 17px;

  &:hover {
    text-decoration: underline;
  }
  
  &::before{
    position: absolute;
    content: '';
    top: -1px;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  &::after{
    position: absolute;
    content: '';
    top: 2px;
    left: 5px;
    width: 12px;
    height: 7px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-55deg);
    color: #C29974;
    opacity: 0;
    transition: opacity 0.3s;
  }

}

.submit-button {
  width: 106px;
}






