/* Partners */

.partners {

    &__list {
        list-style-type: none;
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        margin-top: 91px;
        margin-bottom: 108px;
        flex-wrap: wrap;
    }

    &__item:hover {
        opacity: 0.5;
    }

    &__item:active {
        opacity: 0.3;
    }
    
}