<section class="partners container">
    <h2 class="hidden">partners</h2>
    <ul class="partners__list">
        <li class="partners__item"><a href="#"><img src="/static/images/mail-ru-group.jpg" alt="mail.ru-group"></a></li>
        <li class="partners__item"><a href="#"><img src="/static/images/apple.jpg" alt="apple"></a></li>
        <li class="partners__item"><a href="#"><img src="/static/images/eltex.jpg" alt="eltex"></a></li>
        <li class="partners__item"><a href="#"><img src="/static/images/owox.jpg" alt="owox"></a></li>
    </ul>
</section>