@import "../colors";
@import "../vars";
@import "../mixins";

/* Page navigation */

.page-navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 63px;

  @include media_interval($media_mobile, $media_tablet) {
    margin-bottom: 52px;
  }

  @include media_interval(0, $media_mobile) {
    margin-bottom: 53px;
    width: 93%;
  }

  &__pages {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-right: 67px;

    @include media_interval(0, $media_mobile) {
      margin-right: 45px;
    }

    &_numbers {
      margin-left: 67px;
      font-family: "Montserrat", Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      color: $c_black;

      @include media_interval(0, $media_mobile) {
        font-size: 14px;
        margin-left: 45px;
      }

      &:hover {
        opacity: .5;
        cursor: pointer;
        transition:$tr_duration $tr_easing;
      }

    }

  }

  &__first-page {
    color: $c_beige--dark;
  }
  
}  
  
.vector-left {    
  width: 20px;
  height: 20px;
  border: none;   
  border-left: 4px solid  rgba($c_black, 0.12);
  border-bottom: 4px solid rgba($c_black, 0.12);
  transform: rotate(45deg);
  display: block;

  @include media_interval(0, $media_mobile) {
      width: 17px;
      height: 17px;
    }

  &:hover {
    border-left: 4px solid  #C29974;
    border-bottom: 4px solid #C29974;
    cursor: pointer;
    transition:$tr_duration $tr_easing;
  }
  
  &:active {
    border-left: 4px solid  #C29974;
    border-bottom: 4px solid #C29974;
    opacity: .5;
  }

}

.vector-right {    
  width: 20px;
  height: 20px;
  border: none;   
  border-left: 4px solid  rgba($c_black, 0.12);
  border-bottom: 4px solid rgba($c_black, 0.12);
  transform: rotate(225deg);
  display: block;

  @include media_interval(0, $media_mobile) {
      width: 17px;
      height: 17px;
  }

  &:hover {
    border-left: 4px solid  #C29974;
    border-bottom: 4px solid #C29974;
    cursor: pointer;
    transition:$tr_duration $tr_easing;
  }
  
  &:active {
    border-left: 4px solid  #C29974;
    border-bottom: 4px solid #C29974;
    opacity: .5;
  }

}


