
/* Page navigation */

.page-navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 63px;

  &__pages {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-right: 67px;

    &_numbers {
      margin-left: 67px;
      font-family: "Montserrat", Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      color: #1E0606;

      &:hover {
        opacity: .5;
        cursor: pointer;
      }

    }

  }

  &__first-page {
    color: #C29974;
  }
  
}  
  
.vector-left {    
  width: 20px;
  height: 20px;
  border: none;   
  border-left: 4px solid  rgba(30, 6, 6, 0.12);
  border-bottom: 4px solid rgba(30, 6, 6, 0.12);
  transform: rotate(45deg);
  display: block;

  &:hover {
    border-left: 4px solid  #C29974;
    border-bottom: 4px solid #C29974;
    cursor: pointer;
  }
  
  &:active {
    border-left: 4px solid  #C29974;
    border-bottom: 4px solid #C29974;
    opacity: .5;
  }

}

.vector-right {    
  width: 20px;
  height: 20px;
  border: none;   
  color: black; 
  border-left: 4px solid  rgba(30, 6, 6, 0.12);
  border-bottom: 4px solid rgba(30, 6, 6, 0.12);
  transform: rotate(225deg);
  display: block;

  &:hover {
    border-left: 4px solid  #C29974;
    border-bottom: 4px solid #C29974;
    cursor: pointer;
  }
  
  &:active {
    border-left: 4px solid  #C29974;
    border-bottom: 4px solid #C29974;
    opacity: .5;
  }

}


