<section class="page-navigation container">
    <h2 class="hidden">pages</h2>
    <a class="vector-left" href="#"></a>
    <ul class="page-navigation__pages">
        <li><a class="page-navigation__pages_numbers page-navigation__first-page" href="#">1</a></li>
        <li><a class="page-navigation__pages_numbers" href="#">2</a></li>
        <li><a class="page-navigation__pages_numbers" href="#">3</a></li>
        <li><a class="page-navigation__pages_numbers" href="#">4</a></li>
    </ul>
    <a class="vector-right" href="#"></a>
</section>