@import "../colors";
@import "../vars";
@import "../mixins";

/* Footer */

.footer {
  background-color: $c_grey--dark;  

  &__navigation {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media_interval(0, $media_mobile) {
      display: block;
    }

    &::after {
      content: '';
      display: block;
      max-width: 1180px;
      width: 100%;
      height: 1px;
      background-color: $c_grey--medium;
      position: absolute;
      top: 408px;

      @include media_interval($media_mobile, $media_tablet) {        
        top: 400px;
      }

      @include media_interval(0, $media_mobile) {
        top: 692px;
      }
    }  

    &-column {
      @include media_interval($media_mobile, $media_tablet) {
        margin-right: 13px;
      }

      @include media_interval(0, $media_mobile) {
        padding-top: 35px;
      }
    }

    &-heading {
      font-family: "Open Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 52px;
      color: $c_grey--text-medium;
      margin-top: 85px;
      margin-bottom: 30px;
      position: relative;

      @include media_interval($media_mobile, $media_tablet) {
        margin-top: 65px;
      }  

      @include media_interval(0, $media_mobile) {
        font-size: 16px;
        line-height: 22px;
        margin-top: 34px;
        margin-bottom: 36px;
      }
    
      &::after {
        position: absolute;
        content: '';   
        width: 380px;
        border: 1px;
        background-color: $c_grey--medium;
        display: block;
        height: 1px;
        top: 60px;

        @include media_interval($media_mobile, $media_tablet) {
          width: 203px;
        }

        @include media_interval(0, $media_mobile) {
          display: block;
          width: 335px;
          height: 1px;
          background-color: $c_grey--medium;
          position: absolute;
          top: 41px;
        }
      }

    }

    &-list {
      list-style-type: none;  
      padding-left: 0; 

      @include media_interval(0, $media_mobile) {
        columns: 2;
      }
    }

    &-items {    
      font-family: "Open Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $c_white; 
      display: block;
      padding: 7px 0 8px;

      @include media_interval(0, $media_mobile) {
        font-size: 14px;
        line-height: 19px;
      }

      &:hover {
        opacity: .5;
        transition:$tr_duration $tr_easing;
      }
      
      &:active {
        opacity: .2;
      }

    }

  }

  &__customer-information {
    padding-left: 10px;

    @include media_interval(0, $media_tablet) {
      padding-left: 0;
    }
  }

  &__customer-information-item {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $c_white;
    display: block;
    padding: 7px 0 8px;

    @include media_interval(0, $media_mobile) {
      font-size: 14px;
      line-height: 19px;
    }

    &:hover {
      opacity: .5;
      transition:$tr_duration $tr_easing;
    }
    
    &:active {
      opacity: .2;
    }    

  }

  &__email-join {
    display: flex;
    margin-bottom: 25px;
    width: 380px;
    margin-top: 34px;

    @include media_interval($media_mobile, $media_tablet) {
      width: 202px;
    }

    @include media_interval(0, $media_mobile) {
      width: 335px;
      margin-top: 48px;
      margin-bottom: 20px;
    }


     &-label {
      width: 300px;
      height: 40px;
      font-family: "Open Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: $c_grey--text-light;
      background-color: $c_grey--medium;
      border: none;
      padding: 9px 15px;
      box-sizing: border-box;
      border: 1px solid transparent;

      @include media_interval($media_mobile, $media_tablet) {
        width: 122px;
      }

      @include media_interval(0, $media_mobile) {
        width: 263px;
        font-size: 14px;
        line-height: 19px;
      }  

      &:hover {
        background-color: $c_grey--medium;
        box-sizing: border-box;
        transition:$tr_duration $tr_easing;
        border-color:$c_white;
      }
      
      &:active {
        background-color: $c_grey--medium;
        border-color:$c_white;
        box-sizing: border-box;
      }
      
      &::-webkit-input-placeholder {  
        color: $c_grey--text-light;
      }

    }

  }

  &__messengers {
    list-style-type: none;
    padding-left: 0;
    display: flex;

    &-link {
      display: flex;
      background-color: $c_grey--medium;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-radius: 15px;
      position: relative;

      @include media_interval(0, $media_mobile) {
        width: 28px;
        height: 28px;
        margin-right: 15px;
      }
    }
    
    &-picture {
      margin: auto;

      &:hover {
        opacity: .5;
        transition:$tr_duration $tr_easing;
      }
      
      &:active {
        opacity: .2;
      }

    }

  } 
  
  &__bottom {    
    list-style-type: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    padding-bottom: 100px;
    margin-top: 18px;

    @include media_interval(0, $media_mobile) {
      display: block;
      margin-top: 88px;
    }

    &-item {
      margin: -5px 0;

      @include media_interval(0, $media_mobile) {
        margin-bottom: 20px;
        white-space: nowrap;
      }
    }

    @include media_interval($media_mobile, $media_tablet) {
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &-rating {
      font-family: "Open Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $c_white;

      @include media_interval($media_mobile, $media_tablet) {
        margin-right: 300px;
        margin-bottom: 5px;
      }

      &:hover {
        color: $c_beige--dark;
        transition:$tr_duration $tr_easing;
      }
      
      &:active {
        color: $c_beige--dark;
      }

    }

    &-copyright {
      font-family: "Open Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $c_white;
      padding-left: 55px;

      @include media_interval($media_mobile, $media_tablet) {
        margin-right: 45px;
        padding-left: 0;
      }

      @include media_interval(0, $media_mobile) {
        padding-left: 0;
      }
    }
    
    &-web {
      font-family: "Open Sans", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $c_grey--text-dark;
      margin-right: 82px;
      border-bottom: 1px solid transparent;
      transition:$tr_duration $tr_easing;

      @include media_interval($media_mobile, $media_tablet) {
        margin-right: 0;
      }

      &:hover {
        color: $c_white;
        border-color: $c_white;
      }
      
      &:active {
        color: $c_white;
        border-color: $c_white;
      }

    }

  }

  &__con {
    @include media_interval(0, $media_mobile) {
      margin-top: 54px;
    }

  }

}












