<footer class="footer">
  <section class="container">
      <h2 class="hidden">footer container</h2>
      <div class="footer__navigation">
          <section class="footer__navigation-column">
              <h2 class="footer__navigation-heading footer__nav">Navigation</h2>
              <ul class="footer__navigation-list">
                  <li><a class="footer__navigation-items" href="#">About Us</a></li>
                  <li><a class="footer__navigation-items" href="/pages/blog/">Blog</a></li>
                  <li><a class="footer__navigation-items" href="#">Design Services</a></li>
                  <li><a class="footer__navigation-items" href="#">Featured On</a></li>
                  <li><a class="footer__navigation-items" href="#">2018 Holiday Catalog</a></li>
                  <li><a class="footer__navigation-items" href="#">Shop By Designer</a></li>
              </ul>
          </section>
          <section class="footer__customer-information">
              <h2 class="footer__navigation-heading footer__cust">Customer Information</h2>
              <ul class="footer__navigation-list">
                  <li><a class="footer__customer-information-item" href="/pages/contact-us/">Contact Us</a></li>
                  <li><a class="footer__customer-information-item" href="/pages/toys/">Sale Exclusions</a></li>
                  <li><a class="footer__customer-information-item" href="#">Shipping & Returns</a></li>
                  <li><a class="footer__customer-information-item" href="#">Terms & Conditions</a></li>
                  <li><a class="footer__customer-information-item" href="#">Privacy Policy</a></li>
                  <li><a class="footer__customer-information-item" href="#">Search</a></li>
              </ul>                           
          </section>
          <section class="footer__connect">
              <h2 class="footer__navigation-heading footer__con">Connect</h2>
              <div class="footer__email-join">
                  <form action="/" class="footer__email-join-form">
                      <label>
                          <input class="footer__email-join-label" type="email" name="email" placeholder="Email">                    
                      </label>
                  </form>
                    @@include('./button/index.html', {
                        "link": "#",
                        "text": "join"
                    })
              </div>                    
              <ul class="footer__messengers">
                  <li class="footer__messengers-item"><a class="footer__messengers-link" href="#" aria-label="link to facebook">
                          <img class="footer__messengers-picture" src="/static/images/facebook.svg" alt="facebook">
                      </a></li>    
                  <li class="footer__messengers-item"><a class="footer__messengers-link" href="#" aria-label="link to twitter">
                          <img class="footer__messengers-picture" src="/static/images/twitter.svg" alt="twitter">
                      </a></li>
                  <li class="footer__messengers-item"><a class="footer__messengers-link" href="#" aria-label="link to pinterest">
                          <img class="footer__messengers-picture" src="/static/images/pinterest.svg" alt="pinterest">
                      </a></li>
                  <li class="footer__messengers-item"><a class="footer__messengers-link" href="#" aria-label="link to instagram">
                          <img class="footer__messengers-picture" src="/static/images/instagram.svg" alt="instagram">
                      </a></li>
              </ul>
          </section>
      </div>       
      <ul class="footer__bottom">
          <li class="footer__bottom-item"><p class="footer__bottom-rating">Company Rating &nbsp; &nbsp; &nbsp; &#9733; &#9733; &#9733; &#9733; &#9733;</p></li>
          <li class="footer__bottom-item"><p class="footer__bottom-copyright">Copyright © 2018 Dlk • Design Life Kids</p> </li>
          <li class="footer__bottom-item"><p class="footer__bottom-web">Web Design — Direct Line Development</p></li>    
      </ul>
  </section>        
</footer>
