@@include('heading-&-breadcrumbs/index.html', {
    "text": "Animation",
    "title": "Animation scene"
})

<div class="animation">
    <img class="clouds-&-sun" src="/static/images/clouds-&-sun.svg">
    <img class="background-city" src="/static/images/background-city.png">
    <img class="car-one" src="/static/images/car-one.svg">
    <img class="car-two" src="/static/images/car-two.svg">
    <img class="car-three" src="/static/images/car-three.svg">
    <img class="car-four" src="/static/images/car-four.svg">
    <img class="lantern-grey" src="/static/images/lantern-grey.svg">
    <img class="second-lantern" src="/static/images/second-lantern.svg">
    <img class="taxi" src="/static/images/taxi.svg">
    <img class="taxi-message" src="/static/images/taxi-message.png">
    <img class="lantern-black" src="/static/images/lantern-black.svg">      
    <img class="mans-hand" src="/static/images/mans-hand.svg">  
    <img class="man" src="/static/images/man.svg">
    <img class="mans-message" src="/static/images/mans-message.svg">
    <img class="woman" src="/static/images/woman.svg">
    <img class="suitcases" src="/static/images/suitcases.svg">
    <img class="womans-message" src="/static/images/womans-message.svg">
</div>