@import "../colors";
@import "../vars";
@import "../mixins";

/* Modal window */

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($c_blue--dark, 0.8);
    display: none;

    &_open {
        display: flex;
    }
}

.main-page {
    position: relative;
    margin: auto;
}

.exit-button {
    position: absolute;
    right: -21px;
    top: -2px;
    border: none;
    background-color: none;
    outline: none; 
    transition: $tr_duration $tr_easing;

    @include media_interval(0, $media_mobile) {
        right: 2px;
        top: -28px;
    }

    &::before {
        content: "";
        position: absolute;
        height: 18px;
        width: 2px;
        background-color: $c_white;
        transform: rotate(45deg);
    }
    
    &::after {
        content: "";
        position: absolute;
        height: 18px;
        width: 2px;
        background-color: $c_white;
        transform: rotate(-45deg);
    }
    
    &:hover {
        opacity: .5;
        cursor: pointer;
    }
    
    &:active {
        opacity: .3;
    }
}


/* Contact Us page */

.form {
    margin-top: 50px;
    margin-bottom: 60px;    
    display: flex;

    @include media_interval($media_mobile, $media_tablet) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 44px;
        margin-bottom: 49px; 
    }

    @include media_interval(0, $media_mobile) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 25px;
        margin-bottom: 50px;
    }
}

.text-block {
    margin-left: 120px;

    @include media_interval($media_mobile, $media_tablet) {
        margin-left: 0;
        margin-bottom: 23px;
    }

    @include media_interval(0, $media_mobile) {
        margin-left: 0;
        margin-bottom: 3px;
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        color: $c_black;
        margin-bottom: 20px;
        margin-top: 0;

        @include media_interval($media_mobile, $media_tablet) {
            text-align: center;
            padding: 0 52px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 14px;
            line-height: 19px;
            width: 335px;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    
    &__bold-text {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: $c_beige--dark;
        margin-top: -3px;

        @include media_interval($media_mobile, $media_tablet) {
            text-align: center;
            margin-top: -3px;
        }

        @include media_interval(0, $media_mobile) {
            font-size: 24px;
            line-height: 34px;
            width: 335px;
            text-align: center;
            margin-top: 15px;
        }
    }
}


