<section class="delivery container">  
    <picture>
        <source srcset="/static/images/smile-woman.jpg, /static/images/smile-woman-2.jpg 2x" media="(min-width: 1024px)">
        <source srcset="/static/images/smile-woman-tablet.jpg" media="(min-width: 768px) and (max-width 1023px)">
        <source srcset="/static/images/smile-woman-mobile.jpg" media="(max-width: 767px)">
        <img class="delivery__picture" srcset="/static/images/smile-woman.jpg" alt="smile-woman">
    </picture>     
    <div class="delivery__block">
        <h2 class="delivery__section-heading">Delivery</h2>
        <ul class="delivery__heading-list">
            <li><button class="delivery__heading-list-button">Delivery</button></li> 
            <li><button class="delivery__heading-list-button">Guarantee</button></li>  
            <li><button class="delivery__heading-list-button">Credit</button></li>
        </ul>
        <div class="delivery__text">       
            <p class="delivery__text-section">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
            <p class="delivery__text-section">What started as an outlet to deal  with the traumatic loss of my husband, dlk has now become a truly happy place for me and i have you and all of the beautiful designers that we work with to thank!</p>
        </div>
        @@include('./button/index.html', {
            "link": "#",
            "text": "LEARN MORE"
        })
    </div>
</section>